*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-image: url('UNIQUE\ RECIPES.png');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  
}


.all{
  position: absolute;
  top: 40px;
}


h1{
  position: relative;
  text-align: left;
  font-size: 55px;
  background-color: rgba(60, 7, 52, 0.763);
  color: white;
  border-radius: 25px;
  border-width: 15px;
  border-style: groove;
  font-family: Franklin Gothic Medium;
  padding-left: 15px;
  background-image: none;
}



h3{
  display: list-item;
  
  left: 50px;
}

.italianImage img{
  position: absolute;
  width: 200px;
  height: 170px;
  top: 180px;
  left: 1040px;
  border-radius: 20px;
  border-style: ridge;
  border-bottom-style: double;
  border-width: 9px;
}

.seafoodImage img{
  position: absolute;
  width: 200px;
  height: 170px;
  top: 180px;
  left: 600px;
  border-radius: 20px;
  border-style: ridge;
  border-bottom-style: double;
  border-width: 9px;
}

.vegImage img{
  position: absolute;
  width: 200px;
  height: 170px;
  top: 400px;
  left: 780px;
  border-radius: 20px;
  border-style: ridge;
  border-bottom-style: double;
  border-width: 9px;
}

.meatImage img{
  position: absolute;
  width: 200px;
  height: 170px;
  top: 180px;
  left: 820px;
  border-radius: 20px;
  border-style: ridge;
  border-bottom-style: double;
  border-width: 9px;
}

.africaImage img{
  position: absolute;
  width: 200px;
  height: 170px;
  top: 400px;
  left: 1000px;
  border-radius: 20px;
  border-style: ridge;
  border-bottom-style: double;
  border-width: 9px; 
}


.burgerImage img{
  position: absolute;
  width: 200px;
  height: 170px;
  top: 400px;
  left: 565px;
  border-radius: 20px;
  border-style: ridge;
  border-bottom-style: double;
  border-width: 9px; 
}

.burgerImage figcaption{
  font-size: 20px;
  position: absolute;
  left: 583px;
  top: 580px;
  background-color: rgb(96, 5, 90);
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

.vegImage figcaption{
  font-size: 20px;
  position: absolute;
  left: 830px;
  top: 580px;
  background-color: rgb(96, 5, 90);
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

.italianImage figcaption{
  font-size: 20px;
  position: absolute;
  left: 1085px;
  top: 358px;
  background-color: rgb(96, 5, 90);
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

.seafoodImage figcaption{
  font-size: 20px;
  position: absolute;
  left: 630px;
  top: 358px;
  background-color: rgb(96, 5, 90);
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

.meatImage figcaption{
  font-size: 20px;
  position: absolute;
  left: 835px;
  top: 358px;
  background-color: rgb(96, 5, 90);
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

.africaImage figcaption{
  font-size: 20px;
  position: absolute;
  left: 1035px;
  top: 580px;
  background-color: rgb(96, 5, 90);
  font-weight: bold;
  font-family: Tahoma;
  border-radius: 10px;
}

a{
  color: white;
}

a:visited {
  color: rgb(243, 237, 239);
}

a:hover {
  color: rgb(46, 252, 221);
}

a:active {
  color: rgb(28, 159, 240);
}


@media screen and (max-width: 599px){
  
    body{
      background-image: url('UNIQUE\ RECIPES.png');
      background-repeat: no-repeat;
      height: 88vh;
      width: 100%;
    }

    body{
      background-image: url('UNIQUE\ RECIPES.png');
      background-size: cover;
      background-repeat: no-repeat;
      align-items: center;
      
    }
  
    h1{
      position: relative;
      text-align: left;
      font-size: 35px;
      color: rgb(247, 242, 244);
      border-radius: 25px;
      border-width: 15px;
      border-style: groove;
      font-family: Franklin Gothic Medium;
      left: px;
      background-image: none;
    }
    .italianImage img{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 100px;
      left: 30px;
      border-radius: 20px;
      border-style: ridge;
      border-bottom-style: double;
      color: rgb(89, 4, 97);
      border-width: 9px;
    }
    .meatImage img{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 100px;
      left: 200px;
      border-radius: 20px;
      border-style: ridge;
      border-bottom-style: double;
      color: rgb(89, 4, 97);
      border-width: 9px;
    }
    .seafoodImage img{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 290px;
      left: 30px;
      border-radius: 20px;
      border-style: ridge;
      border-bottom-style: double;
      color: rgb(89, 4, 97);
      border-width: 9px;
    }
    .burgerImage img{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 290px;
      left: 200px;
      border-radius: 20px;
      border-style: ridge;
      border-bottom-style: double;
      color: rgb(89, 4, 97);
      border-width: 9px;  
    }
    .vegImage img{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 480px;
      left: 30px;
      border-radius: 20px;
      border-style: ridge;
      border-bottom-style: double;
      color: rgb(89, 4, 97);
      border-width: 9px;
    }
    .africaImage img{
      position: absolute;
      width: 150px;
      height: 150px;
      top: 480px;
      left: 200px;
      border-radius: 20px;
      border-style: ridge;
      border-bottom-style: double;
      color: rgb(89, 4, 97);
      border-width: 9px; 
    }

    .africaImage figcaption{
      font-size: 15px;
      position: absolute;
      left: 225px;
      top: 636px;
      background-color: rgb(96, 5, 90);
      font-weight: bold;
      font-family: Tahoma;
      border-radius: 10px;
    }
    .italianImage figcaption{
      font-size: 15px;
      position: absolute;
      left:65px;
      top: 256px;
      background-color: rgb(96, 5, 90);
      font-weight: bold;
      font-family: Tahoma;
      border-radius: 10px;
    }

    .meatImage figcaption{
      font-size: 15px;
      position: absolute;
      left:210px;
      top: 255px;
      background-color: rgb(96, 5, 90);
      font-weight: bold;
      font-family: Tahoma;
      border-radius: 10px;
    }

    .vegImage figcaption{
      font-size: 15px;
      position: absolute;
      left: 65px;
      top: 635px;
      background-color: rgb(96, 5, 90);
      font-weight: bold;
      font-family: Tahoma;
      border-radius: 10px;
    }

    .burgerImage figcaption{
      font-size: 15px;
      position: absolute;
      left: 215px;
      top: 445px;
      background-color: rgb(96, 5, 90);
      font-weight: bold;
      font-family: Tahoma;
      border-radius: 10px;
    }

    .seafoodImage figcaption{
      font-size: 15px;
      position: absolute;
      left: 55px;
      top: 445px;
      background-color: rgb(96, 5, 90);
      font-weight: bold;
      font-family: Tahoma;
      border-radius: 10px;
    }

  }









}