*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    background-color: rgb(9, 7, 5);
    opacity: 1; 

  }


h1{
  text-shadow: 2px 2px 8px  rgb(253, 253, 254);
  color: rgb(31, 73, 128);
  background-color: rgb(253, 254, 251);
  margin: 3px;
  height: 80px;
  text-align: left;
  padding-top: 17px;
  padding-left: 10px;
  font-family: cursive;
  
  
}


h2{
  text-shadow: 2px 2px 4px  rgb(29, 40, 61);
  margin: 3px;
  color: rgb(9, 7, 82);
  font-stretch: ultra-condensed;
  font-size: 25px;
  background-image: url(https://img.freepik.com/free-photo/view-vegetable-slices_23-2149224258.jpg?t=st=1710539645~exp=1710543245~hmac=2f249c874294961e0f0e43e0aefdeb96984aa3b00c2f89e33a5a823aa409a5fd&w=996);
}

img{
  height: 300px;
  width: 350px;
  border-radius: 20px;
  margin: 20px;
  border: 5px solid rgb(12, 49, 78);
}

.holidayText{
  display: flex;
  font-size: 22px;
  background-color: rgb(244, 244, 244);
  margin: 3px;
  border-radius: 12px;
  align-items: center;
  font-family: cursive;
  padding-right: 20px;
  position: relative;
  color: rgb(8, 8, 7);
  
}

h7{

  display: flex;
  font-size: 22px;
  height: 100px;
  width: 700px;
  background-color: rgba(240, 248, 255, 0);
  align-items: center;
  font-family: cursive;
  color: black;

}

figcaption{
  color: red;
  background-color: rgb(244, 244, 244);
  text-align: center;
  
  
}

.footer{
  color: rgb(244, 243, 243);
  background-color: rgb(244, 244, 244);
  text-align: center;
  margin: 1px;
  border-radius: 15px;
  padding-top: 15px;
  
}


.footer a{
  color: rgb(253, 251, 249);
 
}

.holidayText .subject{
  color: aqua;
}

h6{
  color: rgb(252, 248, 248);
  display: fles;
  position: relative;
  bottom: 140px;
  left: 400px;
  margin: 20px;
  height: 40px;
  width: 740px;
  font-size: 18px;
  border-radius: 12px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(9, 80, 85);
}

@media screen and (max-width: 599px){
  h1{
    text-shadow: 2px 2px 8px  rgb(253, 253, 254);
    color: rgb(31, 73, 128);
    background-color: rgb(253, 254, 251);
    position: relative;
    text-align: left;
    font-size: 25px;
    height: 80px;
    
    font-family: cursive;  
  }

  img{
    height: 160px;
    width: 160px;
    border-radius: 20px;
    position: absolute;
    display: flexbox;
    top: 20px;
    left: 180px;

    
    
  }

  .holidayText{
    display: block;
    font-size: 10px;
    background-color: rgb(250, 248, 245);
    border-radius: 12px;
    font-family: cursive;
    color: rgb(8, 8, 7);
    height: 400px;
    padding-left: 15px;

    
  }

  h2{
    text-shadow: 2px 2px 4px  rgb(29, 40, 61);
    margin: 3px;
    color: rgb(9, 7, 82);
    font-stretch: ultra-condensed;
    font-size: 15px;
  }

  .subject{
    text-shadow: 2px 2px 4px  rgb(29, 40, 61);
    margin: 3px;
    color: rgb(9, 7, 82);
    font-stretch: ultra-condensed;
    font-size: 15px;
  }

  h7{
    font-size: 10px;
    display: block;
    height: 120px;
    width: 350px;
    background-color: rgba(240, 248, 255, 0);
    padding-left: 0px;
    font-family: cursive;
    color: black;
    
  }

  body{
    width: 100%;
  }

 .footer{
    color: rgb(12, 4, 4);
    background-color: rgb(244, 244, 244);
    text-align: center;
    margin: 1px;
    border-radius: 15px;
    font-size: 10px;
  }

}







